@using System.Web;
@model IList<DACN_DVTRUCTUYEN.Areas.User.Models.ProductView>;
<div class="a Re">
    <div class="Ce">
        <div class="ta nc Ke">
            <h4>Những sản phẩm được xem nhiều nhất</h4>
        </div>
        <div class="fe">Danh sách những sản phẩm được nhiều người xem nhất được cập nhật liên tục</div>
    </div>
    <div style="">
        <div class="ta ec kc Jc Qd Le">
            <div class="ta gc Pe">
                @foreach (var item in Model)
                {
                    <div class="_e mg dh">
                        <a class="lf gf ff ra" tabindex="-1" href="/user/product/@item.ProductID/@item.OptionValue">
                            <img loading="lazy" src="@item.ProductImg" class="xc" alt="@item.ProductName" />
                            <a class="Ua Ra bf ia rc tc ra" href="/user/product/@item.ProductID/@item.OptionValue">@item.ProductName - @item.OptionName</a>
                            <div class="ta Ua ja">
                                <div class="Vb ta gc De jc">
                                    <div class="Zd">@item.PriceNow</div>
                                    <div class="ie Zd me">@item.PriceOld</div>
                                    <div>
                                        <small class="Zd aa Id Jd xc _c ke">-@Math.Round((1 - item.PriceNow / (float)item.PriceOld) * 100)%</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="ta mc">
                @*  <button type="button" class="b ta Ee ge Zd">
                <div>Xem thêm</div>
                </button> *@
            </div>
        </div>
    </div>
</div>
