@model DACN_DVTRUCTUYEN.Models.DataContext
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var cartitemlist = Model.Carts.Where(m => m.UserID == int.Parse(Context.Request.Cookies["id"])).ToList();
}
<div class="Mg W Re">
    <div class="ta jc Bd _f Ke">
        <div class="ta jc He ge">
            <div class="Ub ib Da zc Uc"></div>
            <div>Giỏ hàng</div>
        </div>
        <div class="Vb Gc"></div>
        <div class="ta jc He ie">
            <div class="Ub ib Da zc Uc"></div>
            <div>Xác nhận</div>
        </div>
        <div class="Vb Gc"></div>
        <div class="ta jc He ie">
            <div class="Ub ib Da zc Uc"></div>
            <div>Thanh toán</div>
        </div>
    </div>
    <div class="Ta Ug rd Zg Re Sg Sc">
        <div class="Og Pe">
            <div class="ih Oe">
                <div class="ta ic He">
                    <h3>Giỏ hàng</h3>
                    <div class="zd">(@cartitemlist.Count sản phẩm)</div>
                </div>
                <div class="Fc sd xc">
                    @foreach (var cartitem in cartitemlist)
                    {
                        var parentProduct = Model.Products.Where(m => m.ProductID == cartitem.ProductID).FirstOrDefault();
                        var thisProduct = Model.ProductOptions.Where(m => m.ProductID == cartitem.ProductID && m.OptionValue == cartitem.ProductOptionValue).FirstOrDefault();
                        <div class="Mf Me">
                            <div class="mg fh">
                                <a class="lf gf ff ra" href="#">
                                    <img loading="lazy"
                                         src="@parentProduct.ProductImg"
                                         class="xc"
                                         alt="@parentProduct.ProductName" />
                                </a>
                            </div>
                            <div class="rg hh">
                                <div class="ta ec nc za">
                                    <div class="Le">
                                        <div class="Mf Ge">
                                            <div class="ng ea Ce">
                                                <h6><a href="#"></a>@parentProduct.ProductName</h6>
                                                <div class="fe"><a>@thisProduct.OptionName</a></div>
                                            </div>
                                            <div class="lg If Ub ta Uf Vf De">
                                                <h5>@thisProduct.PriceNow đ</h5>
                                                <div class="ta Tf jc De">
                                                    <div class="Zd he me">@thisProduct.PriceOld</div>
                                                    <div><small class="Zd aa Id Jd xc _c ke">@(1-(thisProduct.PriceNow/(float)thisProduct.PriceOld))</small></div>
                                                </div>
                                            </div>
                                            <div class="kg Jf ta Wf ga">
                                                <form action="/api/cart/quantity">
                                                    <div class="ta Ga Fc Mc yc ge Zd">
                                                        <button type="button" class="b Ub kb Hc Mc fe ra">-</button>
                                                        <input name="quantity" type="number" required="" min="1" max="1" step="1" placeholder="Số lượng" class="kb Zd Td Ac Ah" value="@cartitem.Quantity" />
                                                        <button type="button" class="b Ub kb Ic Mc fe ra">+</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="f Ad"></div>
                                        <div class="ta nc Ee">
                                            <div class="ta Ee">
                                                <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path d="M509.5 184.6L458.9 32.8C452.4 13.2 434.1 0 413.4 0H98.6c-20.7 0-39 13.2-45.5 32.8L2.5 184.6c-1.6 4.9-2.5 10-2.5 15.2V464c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V199.8c0-5.2-.8-10.3-2.5-15.2zM32 199.8c0-1.7.3-3.4.8-5.1L83.4 42.9C85.6 36.4 91.7 32 98.6 32H240v168H32v-.2zM480 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V232h448v232zm0-264H272V32h141.4c6.9 0 13 4.4 15.2 10.9l50.6 151.8c.5 1.6.8 3.3.8 5.1v.2z"></path>
                                                </svg>
                                                <div>Tình trạng: <span class="be">Còn hàng</span></div>
                                            </div>
                                            <button type="button" class="b ta jc Ee de">
                                                <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="eh">
                <div class="Oe">
                    <form class="Oe">
                        <div class="Le">
                            <h6>Thanh toán</h6>
                            <div class="Ie">
                                <div class="Fe">
                                    <div class="ta Ee hc nc">
                                        <div>Tổng giá trị sản phẩm</div>
                                        <div id="totalproductprice">Tổng giá trị sản phẩm</div>
                                    </div>
                                </div>
                                <div class="f"></div>
                                <div class="Fe">
                                    <div class="ta Ee hc nc">
                                        <div>Tổng giá trị phải thanh toán</div>
                                        <div class="Zd" id="totalpay">Tổng giá trị phải thanh toán</div>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="ta ec kc Ie">
                                <div class="Td he vc rc tc">Quét QR. Thanh toán ngay!</div>
                                <button type="button" class="b c ta mc jc bd xf Cf" onclick="paynow()">
                                    <div class="ta Ee rc">
                                        <img loading="lazy" src="~/QR.svg" class="Db wa" alt="Mua siêu tốc qua Mobile Banking" />
                                        <div>Mua siêu tốc qua Mobile Banking</div>
                                    </div>
                                </button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function paynow() {
        setTimeout(() =>
            fetch("/user/cart/pay")
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Process the retrieved user data
                    console.log('User Data:', data);
                    if (data.code == 1) {
                        window.location.href = data.messenger;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                }), 1500);
    }
</script>