@model DACN_DVTRUCTUYEN.Models.Product;
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.ProductName;
}
<div class="Hd Sc">
    <div class="a">
        <div class="vg Pe">
            <div class="Ig" style="margin:auto">
                <div class="Le">
                    <div class="lf gf ff">
                        <img src="@Model.ProductImg" class="xc" style="height:130%;width:auto; margin-top:-30px" alt="@Model.ProductName">
                    </div>
                </div>
            </div>
            <div class="Ig" style="margin-left:50px">
                <div class="Oe">
                    <div class="Le">
                        <div class="Fe">
                            <a class="fe ra">Sản phẩm </a>
                            <h3>@Model.ProductName</h3>
                        </div>
                        <div class="Ie">
                            <div class="ta Ee fe">
                                <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M509.5 184.6L458.9 32.8C452.4 13.2 434.1 0 413.4 0H98.6c-20.7 0-39 13.2-45.5 32.8L2.5 184.6c-1.6 4.9-2.5 10-2.5 15.2V464c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V199.8c0-5.2-.8-10.3-2.5-15.2zM32 199.8c0-1.7.3-3.4.8-5.1L83.4 42.9C85.6 36.4 91.7 32 98.6 32H240v168H32v-.2zM480 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V232h448v232zm0-264H272V32h141.4c6.9 0 13 4.4 15.2 10.9l50.6 151.8c.5 1.6.8 3.3.8 5.1v.2z"></path>
                                </svg>
                                <div>Tình trạng: <span class="be">Còn hàng</span></div>
                            </div>@*
                            <div class="ta Ee fe">
                            <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.745 18.745 49.137 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zm-22.627 45.255L271.196 475.314c-6.243 6.243-16.375 6.253-22.627 0L36.686 263.431A15.895 15.895 0 0 1 32 252.117V48c0-8.822 7.178-16 16-16h204.118c4.274 0 8.292 1.664 11.314 4.686l211.882 211.882c6.238 6.239 6.238 16.39 0 22.628zM144 124c11.028 0 20 8.972 20 20s-8.972 20-20 20-20-8.972-20-20 8.972-20 20-20m0-28c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path>
                            </svg>
                            <div>
                            Thể loại:
                            <a href="/search?tag=steam">steam</a>,
                            <a href="/search?tag=random">random</a>
                            </div>
                            </div> *@
                        </div>
                    </div>
                    <div class="Fe">
                        <div class="ta He">
                            <h4 id="pricenow">PRICE</h4>
                            <button type="button" class="b" title="Nhận thông báo khi sản phẩm giám giá"><svg class="od Hb Ba ie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"></path></svg></button><button type="button" class="b" title="Thêm vào danh sách yêu thích"><svg class="od Hb Ba ie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg></button>
                        </div><div class="ta Ee jc"><h6 class="Zd me ie" id="priceold">PRICE</h6><small class="Zd aa Id Jd xc _c ke" id="discount">DISCOUNT</small></div>
                    </div>
                    <div class="f">
                    </div>
                    <div class="Ie" onload="productoptionload()">
                        <h6>Gói cước khác</h6>
                        <div>
                            <div class="ta gc Ge" id="productOption">
                            </div>
                        </div>
                    </div>

                    <form action="/api/cart/add">
                        <fieldset class="Oe">
                            <div class="ta gc Ge">
                                <div class="Tb"><button type="submit" class="db b c ta Ee mc jc" data-action="buy"><svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"></path></svg><div>Mua ngay</div></button></div><div class="Tb">
                                    <button type="submit" class="db b d ta Ee mc jc">
                                        <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64s64-28.654 64-64c0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM464 424c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm-256 0c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm279.438-152H184.98l-31.31-160h368.548l-34.78 160zM272 200v-16c0-6.627 5.373-12 12-12h32v-32c0-6.627 5.373-12 12-12h16c6.627 0 12 5.373 12 12v32h32c6.627 0 12 5.373 12 12v16c0 6.627-5.373 12-12 12h-32v32c0 6.627-5.373 12-12 12h-16c-6.627 0-12-5.373-12-12v-32h-32c-6.627 0-12-5.373-12-12z"></path></svg>
                                        <div>Thêm vào giỏ</div>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="a Cd Se">
    <div class="Qb Ta Se">
        <div class="yh"></div>
        <div class="Oe">
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Chi tiết sản phẩm</h4>
                    <div class="Vb">
                        <div class="yh">
                            <p style="text-align: center;">&nbsp;</p>

                            <p style="text-align: center;"><img src="https://divineshop.vn/image/catalog/hieu/valve-steam-games.png" /></p>

                            <p style="text-align: justify;">
                                <strong>@Model.ProductName</strong>
                                @Model.ProductDescription
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Chính sách bảo hành</h4>
                    <div class="Vb">
                        <div class="yh">
                            <hr />
                            <h3 style="font-family: Roboto Condensed, sans-serif; font-size: 16px; font-weight: 700; line-height: 1.5;">Thời gian bảo hành, chúng tôi cam kết bảo hành trong 40% thời gian sử dụng kể từ thời điểm bạn thanh toán</h3>

                            <p style="margin-left: 40px;" id="baohanhtime">- Thời hạn bảo hành</p>

                            <h3 style="font-family: Roboto Condensed, sans-serif; font-size: 16px; font-weight: 700; line-height: 1.5;">Cách thức bảo hành</h3>

                            <p style="margin-left: 40px;">- Đổi mới code/tài khoản/gói đăng ký khác nếu lỗi trong quá trình sử dụng hoặc hoàn tiền theo thời gian bạn đã sử dụng tối đa 80% nếu không có sản phẩm bảo hành.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Câu hỏi thường gặp</h4>
                    <div class="Vb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    fetch("/user/product/getproductoption/@Model.ProductID")
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Process the retrieved user data
            console.log('User Data:', data);
            var htmlvalue = "";
            var selected = '@ViewBag.ProductOption0';
            if (selected == '') {
                selected = data[0].optionValue;
            }
            var now = "";
            data.forEach(function (item) {
                if (item.optionValue == selected) {
                    htmlvalue += '<div><a class="b ta jc Ga c" href="/user/product/@Model.ProductID/' + item.optionValue + '">' + item.optionName + '</a></div>';
                    now = item;
                }
                else
                    htmlvalue += '<div><a class="b ta jc Ga d Gh" href="/user/product/@Model.ProductID/' + item.optionValue + '">' + item.optionName + '</a></div>';
            });
            console.log(now);
            $("#pricenow").html(now.priceNow.toLocaleString('de-DE') + "đ");
            $("#priceold").html(now.priceOld.toLocaleString('de-DE') + "đ");
            $("#discount").html(( ( 1- (now.priceNow / now.priceOld)) * 100).toFixed(0) + "%");
            $("#baohanhtime").html("- " + (now.optionName.match(/\d+/)[0] * 0.4).toFixed(0) + now.optionName.replace(/\d+/g, ''))
            $("#productOption").html(htmlvalue);
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>