@model IList<DACN_DVTRUCTUYEN.Areas.User.Models.ProductView>
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    DACN_DVTRUCTUYEN.Areas.User.Models.ProductView now = Model.Where(m => m.OptionValue == ViewBag.ProductOption0).FirstOrDefault();
    ViewData["Title"] = Model[0].ProductName + " - " + now.OptionName;
    string topricestr(int number)
    {
        string result = number.ToString();
        int num = result.Length;
        while (num > 3)
        {
            result = result.Insert(num - 3, ".");
            num -= 3;
        }
        return result;
    }
}
<div class="Hd Sc">
    <div class="a">
        <div class="vg Pe">
            <div class="Ig" style="margin:auto">
                <div class="Le">
                    <div class="lf gf ff">
                        <img src="@Model[0].ProductImg" class="xc" style="height:130%;width:auto; margin-top:-30px" alt="@Model[0].ProductName">
                    </div>
                </div>
            </div>
            <div class="Ig" style="margin-left:50px">
                <div class="Oe">
                    <div class="Le">
                        <div class="Fe">
                            <a class="fe ra">Sản phẩm </a>
                            <h3>@Model[0].ProductName</h3>
                        </div>
                        <div class="Ie">
                            <div class="ta Ee fe">
                                <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M509.5 184.6L458.9 32.8C452.4 13.2 434.1 0 413.4 0H98.6c-20.7 0-39 13.2-45.5 32.8L2.5 184.6c-1.6 4.9-2.5 10-2.5 15.2V464c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V199.8c0-5.2-.8-10.3-2.5-15.2zM32 199.8c0-1.7.3-3.4.8-5.1L83.4 42.9C85.6 36.4 91.7 32 98.6 32H240v168H32v-.2zM480 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16V232h448v232zm0-264H272V32h141.4c6.9 0 13 4.4 15.2 10.9l50.6 151.8c.5 1.6.8 3.3.8 5.1v.2z"></path>
                                </svg>
                                <div>Tình trạng: <span class="be" style="@(now.Quantity > 0 ? "" : "color:red")">@(now.Quantity > 0 ? "Còn hàng" : "Hết hàng")</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="Fe">
                        <div class="ta He">
                            <h4 id="pricenow">@topricestr(now.PriceNow)đ</h4>
                        </div><div class="ta Ee jc"><h6 class="Zd me ie" id="priceold">@topricestr(now.PriceOld)đ</h6><small class="Zd aa Id Jd xc _c ke" id="discount">-@Math.Round((1 - now.PriceNow / (float)now.PriceOld) * 100)%</small></div>
                    </div>
                    <div class="f">
                    </div>
                    <div class="Ie" onload="productoptionload()">
                        <h6>Gói cước khác</h6>
                        <div>
                            <div class="ta gc Ge" id="productOption">
                                @foreach (var item in Model)
                                {
                                    if (item.OptionValue == ViewBag.ProductOption0)
                                    {
                                        <div><a class="b ta jc Ga c" href="/user/product/@item.ProductID/@item.OptionValue">@item.OptionName</a></div>
                                    }
                                    else
                                    {
                                        <div><a class="b ta jc Ga d Gh" href="/user/product/@item.ProductID/@item.OptionValue">@item.OptionName</a></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <fieldset class="Oe">
                        <div class="ta gc Ge">
                            <div class="Tb">
                                <button type="submit" class="db b c ta Ee mc jc" onclick="buy()" alt="Mua siêu tốc qua Mobile Banking" @(now.Quantity > 0 ? "" : "disabled")>
                                    <img style="max-height:22px" src="/QR.svg" class="Db wa" >
                                    <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z"></path>
                                    </svg>
                                    <div>Mua ngay</div>
                                </button>
                            </div><div class="Tb">
                                <button type="submit" class="db b d ta Ee mc jc" onclick="addcart(); resetcart();" @(now.Quantity > 0 ? "" : "disabled")>
                                    <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64s64-28.654 64-64c0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM464 424c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm-256 0c13.234 0 24 10.766 24 24s-10.766 24-24 24-24-10.766-24-24 10.766-24 24-24zm279.438-152H184.98l-31.31-160h368.548l-34.78 160zM272 200v-16c0-6.627 5.373-12 12-12h32v-32c0-6.627 5.373-12 12-12h16c6.627 0 12 5.373 12 12v32h32c6.627 0 12 5.373 12 12v16c0 6.627-5.373 12-12 12h-32v32c0 6.627-5.373 12-12 12h-16c-6.627 0-12-5.373-12-12v-32h-32c-6.627 0-12-5.373-12-12z"></path></svg>
                                    <div>Thêm vào giỏ</div>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="a Cd Se">
    <div class="Qb Ta Se">
        <div class="yh"></div>
        <div class="Oe">
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Chi tiết sản phẩm</h4>
                    <div class="Vb">
                        <div class="yh">
                            <p style="text-align: center;">&nbsp;</p>

                            <p style="text-align: center;"><img src="@Model[0].ProductImg" /></p>

                            <p style="text-align: justify;">
                                <strong>@Model[0].ProductName</strong>
                                @Model[0].ProductDescription
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Chính sách bảo hành</h4>
                    <div class="Vb">
                        <div class="yh">
                            <hr />
                            <h3 style="font-family: Roboto Condensed, sans-serif; font-size: 16px; font-weight: 700; line-height: 1.5;">Thời gian bảo hành, chúng tôi cam kết bảo hành trong 40% thời gian sử dụng kể từ thời điểm bạn thanh toán</h3>

                            <p style="margin-left: 40px;" id="baohanhtime">- Thời hạn bảo hành</p>

                            <h3 style="font-family: Roboto Condensed, sans-serif; font-size: 16px; font-weight: 700; line-height: 1.5;">Cách thức bảo hành</h3>

                            <p style="margin-left: 40px;">- Đổi mới code/tài khoản/gói đăng ký khác nếu lỗi trong quá trình sử dụng hoặc hoàn tiền theo thời gian bạn đã sử dụng tối đa 80% nếu không có sản phẩm bảo hành.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ta ec">
                <div class="vg Je Xa">
                    <h4 class="Ub vb">Câu hỏi thường gặp</h4>
                    <div class="Vb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addcart() {
        fetch("/User/cart/add&@Model[0].ProductID&@now.OptionValue")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Process the retrieved user data
                if (data.code == 1) {
                    resetcart();
                }
                alert(data.messenger);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    setTimeout(fetch("/User/product/inc/@Model[0].ProductID"), 3000);
</script>