@model IList<DACN_DVTRUCTUYEN.Areas.User.Models.Order>;
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Lịch sử mua hàng";
    string paystatus_str(int paystatus)
    {
        switch (paystatus)
        {
            case -2:
                return "Thanh toán thất bại";
            case -1:
                return "Thanh toán thất bại";
            case 0:
                return "Chờ thanh toán";
            case 1:
                return "Thanh toán thành công";
            case 2:
                return "Thanh toán thành công";
            default:
                return "Không thể đọc thông tin";
        }
    }
    string actionname(int paystatus)
    {
        switch (paystatus)
        {
            case -2:
                return "";
            case -1:
                return "";
            case 0:
                return "Hủy thanh toán";
            case 1:
                return "Xem đơn hàng";
            case 2:
                return "Xem đơn hàng";
            default:
                return "Không thể đọc thông tin";
        }
    }
    string actionlink(int paystatus, string orderid)
    {
        switch (paystatus)
        {
            case -2:
                return "";
            case -1:
                return "";
            case 0:
                return $"/user/orders/cancel/{orderid}";
            case 1:
                return $"/user/orders/detail/{orderid}";
            case 2:
                return $"/user/orders/detail/{orderid}";
            default:
                return "";
        }
    }
    string topricestr(long number)
    {
        string result = number.ToString();
        int num = result.Length;
        while (num > 3)
        {
            result = result.Insert(num - 3, ".");
            num -= 3;
        }
        return result;
    }
}
<div style="background: #F3F4F6;">
    <div style="width: 1200px; height: 750.80px; margin:auto">
        <div style="height: 445.27px; padding: 0.91px; left: 21px; top: 4px; background: white; border-radius: 5.25px; overflow: hidden; border: 1px rgba(156, 163, 175, 0.25) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <a href="/user/profile" style="align-self: stretch; height: 63.91px; padding-top: 0.91px; border-top: 0.91px rgba(156, 163, 175, 0.25) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="align-self: stretch; padding-top: 21px; padding-bottom: 21px; padding-left: 26.45px; padding-right: 21px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="width: 17.50px; height: 17.50px; position: relative">
                        <svg style="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <title>Tài khoản</title>
                            <path d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"></path>
                        </svg>
                    </div>
                    <div style="padding-left: 10.50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="color: #6B7280; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 21px; word-wrap: break-word">Tài khoản</div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/user/OrdersHistory" style="align-self: stretch;border-top: 0.91px rgba(156, 163, 175, 0.25) solid; padding-top: 21px; padding-bottom: 21px;  padding-left: 26.45px; padding-right: 21px; border-left: 5.45px #2579F2 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div style="width: 19.69px; height: 17.50px; position: relative">
                    <svg class="Xb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <title>Lịch sử đơn hàng</title>
                        <path d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path>
                    </svg>
                </div>
                <div style="padding-left: 10.50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="color: black; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 21px; word-wrap: break-word">Lịch sử đơn hàng</div>
                    </div>
                </div>
            </a>
            <a href="/user/password" style="align-self: stretch; height: 63.91px; padding-top: 0.91px; border-top: 0.91px rgba(156, 163, 175, 0.25) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="align-self: stretch; padding-top: 21px; padding-bottom: 21px; padding-left: 26.45px; padding-right: 21px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="width: 21.88px; height: 17.50px; position: relative">
                        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <title>Mật khẩu và bảo mật</title>
                            <path d="M224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128zm96 64a63.08 63.08 0 0 1 8.1-30.5c-4.8-.5-9.5-1.5-14.5-1.5h-16.7a174.08 174.08 0 0 1-145.8 0h-16.7A134.43 134.43 0 0 0 0 422.4V464a48 48 0 0 0 48 48h280.9a63.54 63.54 0 0 1-8.9-32zm288-32h-32v-80a80 80 0 0 0-160 0v80h-32a32 32 0 0 0-32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V320a32 32 0 0 0-32-32zM496 432a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm32-144h-64v-80a32 32 0 0 1 64 0z"></path>
                        </svg>
                    </div>
                    <div style="padding-left: 10.50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="color: #6B7280; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 21px; word-wrap: break-word">Mật khẩu và bảo mật</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div style="padding: 35.91px; left: -0.28px; top: 0px; background: white; border-radius: 5.25px; border: 1px rgba(156, 163, 175, 0.25) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12.20px; display: inline-flex">
            <div style="width: 900.62px; height: 650px;position:relative;background: white; border-radius: 5.25px; border: 1px rgba(156, 163, 175, 0.25) solid; ">
                <div style="height:100px; left: 35.91px; top: 35.91px; position:relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6.93px; display: inline-flex">
                    <div style="align-self: stretch; height: 28px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="align-self: stretch; color: black; font-size: 21px; font-family: Roboto; font-weight: 500; line-height: 28px; word-wrap: break-word">Lịch sử đơn hàng</div>
                    </div>
                    <div style="color: #374151; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 21px; word-wrap: break-word">Hiển thị thông tin các sản phẩm bạn đã mua tại DB Shop(chú ý chỉ có thể hiển thị lịch sử trong 180ngày gần nhất)</div>
                </div>
                <div style="width: 85%; height: 1px; margin-left:8%; border-top: 0.91px rgba(156, 163, 175, 0.25) solid"></div>
                <form style="width: 85%;height: 60px;margin-left:8%;padding-top:10px;z-index: 999;position: inherit;" method="get">
                    <div class="af vh">
                        <div class="ta gc Je" style="display:flex;justify-content: space-evenly;">
                            <div class="af og Gg">
                                <div class="z">
                                    <select class="g j gd h i" name="paystatus">
                                        <option value="0">Tất cả</option>
                                        <option value="-2">Thất bại</option>
                                        <option value="2">Hoàn tất</option>
                                    </select><label>Phân loại</label>
                                </div>
                            </div>
                            <div class="va Ng" style="align-content: center;">
                                <b>-</b>
                            </div>
                            <div class="af og Gg">
                                <div class="z">
                                    <select class="g j gd h i" name="sort">
                                        <option value="asc">Mới nhất trước</option>
                                        <option value="desc">Cũ nhất trước</option>
                                    </select><label>Sắp xếp</label>
                                </div>
                            </div>
                            <div class="va Ng" style="align-content: center;">
                                <b>-</b>
                            </div>
                            <div class="af og Gg">
                                <div class="z">
                                    <select class="g j gd h i" name="date">
                                        <option value="7">7 ngày</option>
                                        <option value="15">15 ngày</option>
                                        <option value="30">30 ngày</option>
                                        <option value="60">60 ngày</option>
                                        <option value="90">90 ngày</option>
                                        <option value="180">180 ngày</option>
                                    </select><label>Thời gian</label>
                                </div>
                            </div>
                            <div class="nh" style="width:90px !important;padding:0.5rem 0 0 0;min-width:90px;">
                                <button type="submit" class="b c ta jc db Bd Ee">
                                    <svg class="od Cb Da" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M479.968 0H32.038C3.613 0-10.729 34.487 9.41 54.627L192 237.255V424a31.996 31.996 0 0 0 10.928 24.082l64 55.983c20.438 17.883 53.072 3.68 53.072-24.082V237.255L502.595 54.627C522.695 34.528 508.45 0 479.968 0zM288 224v256l-64-56V224L32 32h448L288 224z"></path>
                                    </svg>
                                    <div>Lọc</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table tbborder" style="margin-top:5px; max-height:70%">
                    <thread>
                        <tr>
                            <th style="width:5%">
                                Mã đơn hàng
                            </th>
                            <th style="width:10%">
                                Thời gian
                            </th>
                            <th style="width:5%">
                                Tổng tiền
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th style="width:7%">
                                Tác vụ
                            </th>
                        </tr>
                    </thread>
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td class="rowdata">
                                </td>
                                <td class="rowdata">
                                </td>
                                <td class="rowdata">
                                    <center>
                                        <h5>Không có đơn hàng  nào</h5>
                                    </center>
                                </td>
                                <td class="rowdata">
                                </td>
                                <td class="rowdata">
                                </td>
                            </tr>
                        }
                        else
                            foreach (var item in Model)
                            {
                                <tr style="height:30px">
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.OrderID)
                                    </td>
                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td class="">
                                        @topricestr(item.TotalPay)đ
                                    </td>
                                    <td class="">
                                        @paystatus_str(item.PayStatus)
                                    </td>
                                    <td class="">
                                        <a href="@actionlink(item.PayStatus,item.OrderID)" style="color:green;font-weight: 500;"><i>@actionname(item.PayStatus)</i></a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    td {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 1px rgba(156, 163, 175, 0.25) solid;
    }

    .rowdata {
        border: 0px rgba(156, 163, 175, 0.25) solid;
    }

    th {
        flex-direction: column;
        text-align: center;
        width: 10%;
        border: 1px rgba(156, 163, 175, 0.25) solid;
    }
</style>