@model IEnumerable<DACN_DVTRUCTUYEN.Models.ProductOption>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <h2>Danh sách lựa chọn của sản phẩm</h2>
</div>

<p>
    <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="ProductOptions" asp-action="Create">
        <i class="bi bi-file-earmark-text me-1">
            Thêm lựa chọn của sản phẩm
        </i>
    </a>
</p>

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body mt-4">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 ">Mã SP</th>
                                <th class="col-1 ">Tên lựa chọn</th>
                                <th class="col-1 ">Mã lựa chọn</th>
                                <th class="col-1 ">Giá cũ</th>
                                <th class="col-1 ">Giá mới</th>
                                <th class="col-1 ">Còn lại</th>
                                <th class="col-1 ">Đã bán</th>
                                <th class="col-1 ">Đăng ký chính chủ</th>
                                <th class="col-3 ">Thời gian cập nhật</th>
                                <th class="col-2 ">Chức năng</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="" scope="row">@item.ProductID</td>
                                    <td class="">@item.OptionName</td>
                                    <td class="">@item.OptionValue</td>
                                    <td class="">@item.PriceOld</td>
                                    <td class="">@item.PriceNow</td>
                                    <td class="">@item.Quantity</td>
                                    <td class="">@item.SoldCount</td>
                                    <td class="">@item.Type</td>
                                    <td class="">@item.CreateDate</td>
                                    <td class="">
                                        <a href="/admin/productoptions/edit/@item.ProductID/@item.OptionValue" class="btn btn-primary btn-sm" title="Sửa">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="/admin/productoptions/delete/@item.ProductID/@item.OptionValue" class="btn btn-danger btn-sm" title="Xoá">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
